#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        studio_unlock_combo {
            timeout-ms = <100>;
            key-positions = <0 7>;
            bindings = <&studio_unlock>;
        };       
bootloader_combo {
            timeout-ms = <100>;
            key-positions = <5 6>;
            bindings = <&bootloader>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Main";
            bindings = <
                &kp LEFT  &kp RIGHT &kp UP    &kp DOWN
                &kp ENTER &kp ESC   &kp SPACE &kp TAB
            >;
        };
    };
};
